In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Loading data set
df = pd.DataFrame()
df = pd.read_csv("APC2012.csv", encoding='latin1')

In [3]:
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [17]:
df['cost']=df['COST (£) charged to Wellcome (inc VAT when charged)'].apply(lambda x: float(x.replace('£', '').replace('$','')))
df['cost']

0          0.00
1       2381.04
2        642.56
3        669.64
4        685.88
5       2392.20
6       2367.95
7        649.33
8       1294.59
9       1294.78
10      1329.69
11      1287.20
12      1324.66
13       665.64
14      1006.72
15       238.08
16       265.67
17      2035.00
18      3108.08
19      1267.76
20      2286.73
21       947.07
22      1186.80
23       642.89
24      1533.29
25      2082.74
26      2314.10
27       759.67
28      1565.26
29       572.74
         ...
2097    2236.02
2098    2275.02
2099    2373.57
2100     791.19
2101    1551.49
2102    1961.68
2103    1982.35
2104    2239.22
2105    2377.65
2106    2272.15
2107    1900.70
2108    3026.17
2109    1851.15
2110    1812.89
2111    1816.70
2112    2168.05
2113    1409.96
2114    2400.00
2115    1968.63
2116    2015.72
2117    1836.92
2118    1836.92
2119    1375.80
2120    1836.92
2121    2009.65
2122    1334.15
2123    1834.77
2124    1834.77
2125    2374.52
2126    2034.75
Name: cost, Length: 2127, dtype: float64

In [7]:
df['Journal title'].value_counts().head(5)

PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
Name: Journal title, dtype: int64

In [24]:
df.groupby('Journal title')['cost'].describe().sort_values(by='count', ascending=False).head(5)

,count,mean,std,min,25%,50%,75%,max
Journal title,,,,,,,,
PLoS One,92.0,24732.843370,147540.721101,122.31,825.68,894.220,1047.250,999999.0
PLoS ONE,62.0,49248.717258,216138.486220,389.73,858.74,890.095,1021.490,999999.0
Journal of Biological Chemistry,48.0,22233.865208,144131.586569,265.67,1152.19,1287.305,1632.450,999999.0
Nucleic Acids Research,21.0,1118.285714,442.418031,852.00,852.00,852.000,1704.000,2184.0
Proceedings of the National Academy of Sciences,19.0,688.774737,198.026428,206.32,616.37,664.890,768.055,1241.1